body {
    background-color: #fdedf9;
    display: flex;
    justify-content: center;
    padding: 20px;
    font-family: Arial, sans-serif;
}

.main-container {
    width: 1000px;
    background: #faf3fc;
    display: flex;
    border-radius: 10px;
    box-shadow: 0px 4px 15px rgba(0,0,0,0.15);
    overflow: hidden;
    gap: 20px;
}

.left-panel {
    width: 30%;
    padding: 20px;
    background: #ffffff;
}

.photo-panel img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 8px;
}

.text-content {
    margin-top: 20px;
}

.section-title {
    font-size: 18px;
    border-bottom: 3px solid #ccf;
    padding-bottom: 5px;
    margin-bottom: 10px;
}

.contact-info {
    list-style: none;
    padding: 0;
}

.contact-info li {
    margin: 5px 0;
}

.school-logo img {
    width: 100px;
    margin-top: 20px;
}

.right-panel {
    width: 70%;
    padding: 20px;
}

.section {
    margin-bottom: 35px;
}

.timeline .item {
    display: flex;
    gap: 10px;
    margin: 10px 0;
}

.year {
    font-weight: bold;
    width: 100px;
}

.skill-tags .tag {
    display: inline-block;
    background: #a6a2e9;
    color: white;
    padding: 7px 14px;
    border-radius: 12px;
    margin-right: 8px;
    margin-top: 6px;
}

.hw-lab-container {
    display: flex;
    gap: 20px;
}

.hw-column,
.lab-column {
    width: 50%;
    background: #fafded;
    padding: 15px;
    border-radius: 8px;
}

.hw-column ul,
.lab-column ul {
    list-style: none;
    padding: 0;
}

.hw-column a,
.lab-column a {
    color: #0066aa;
    font-weight: bold;
    padding: 8px;
    text-decoration: none;
    margin:4px;
    line-height: 1.75;

}

.music-row {
    display: flex;
    justify-content: space-between;
}

.music-item {
    text-align: center;
    text-decoration: none;
    color: black;
}

.music-item img {
    width: 120px;
    height: 120px;
    object-fit: cover;
    border-radius: 6px;
}

.music-note {
    font-size: 17px;
    margin-top: 12px;
    color: #444;
}
